@font-face {
	 font-family: "OpenSans"; 
	 src: url("../fonts/2211.ttf") format("truetype"); 
	 font-style: normal; 
	 font-weight: normal; 
} 

 a, p {
	 font-family: "OpenSans", Arial, sans-serif;
	 font-size: 13px;
}

* {
	margin: 0;
	padding: 0;
}


.wrapper, .main, .footer {
	 margin: 0 auto;
}
	
.wrapper {
	 background-color: #f9f9f9;
	 max-width: 1366px;
	 height: 100%;
}

.main {
	 width: 1060px;
	 overflow: hidden;
	 height: 100%;
	 background-color: white;
	 box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.3);
}


.header {
	 height: 170px;
	 width: 966px;
	 margin: 0 auto;
}

.logo {
	 margin-bottom: 40px;
	 height: 90px;
}

.logo img {
	 margin-top: 50px;
}

.menu {
	 height: 40px;
	 background: linear-gradient(to top, #444343, #5e5e5e);
}

.menu ul {
	 font-size: 0;
}

.menu li {
	 list-style-type: none;
	 display: inline-block;
	 height: 40px;
}

.menu li a {
	 color: #fff;
	 text-decoration: none;
	 display: block;
	 line-height: 40px;
	 text-align: center;
	 text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	 font-size: 15px;
}

.menu ul li:first-child a {
	 padding-left: 25px;
	 padding-right: 61px;
}

.menu ul li:hover {
	 background: linear-gradient(to top, #2e2e2e, #4a4a4a);
	 border-right: 1px solid #838383;
	 border-left: 1px solid #838383;
}

.menu ul li:hover:first-child a {
	 padding-left: 24px;
	 padding-right: 60px;
}

.menu ul li:nth-child(2) a {
	 padding:0 24px;
}

.menu ul li:hover:nth-child(2) a {
	 padding:0 23px;
}

.menu ul li:nth-child(3) a {
	 padding:0 55px;
}

.menu ul li:hover:nth-child(3) a {
	 padding:0 54px;
}

.menu ul li:last-child a {
	 padding:0 31px;
}

.menu ul li:hover:last-child a {
	 padding:0 30px;
}

.container {
	 width: 966px;
	 margin:40px auto 0;
	 font-size: 0;
	}

.left_menu {
	 width: 240px;
	 height: 240px;
	 border: 1px solid #c8c8c8;
	 display: inline-block;
	 vertical-align: top;
	 box-sizing: border-box;
}

.left_menu ul {
	 padding: 0;
	 margin: 0;
}

.left_menu ul li {
	 list-style-type: none;
	 line-height: 39px;
	 display: block;
	 border-top: 1px solid #c8c8c8;
	 margin: 0;
}

.left_menu ul li:first-child {
	border-top: none;
}
	 
.left_menu ul li a {
	 text-decoration: none;
	 padding-left: 24px;
	 color: #807e7e; 
	 display: block;
}

.left_menu ul li a:hover {
	 background-color:	#f9f9f9;
	 padding-left: 36px;
	 transition: 0.2s;
}

.content {
	 margin-left: 48px;
	 text-align: center;
	 display: inline-block;
	 
}

.content img {
	 display: block;
	 padding: 47px 88px;
	 border: 1px solid #c8c8c8;
	 
}

.text {
	 width: 628px;
	 margin: 40px 25px 0px;
	 text-align: left;
}

.footer {
	 width: 968px;
	 height: 40px;
	 background-color: #e1e1e1;
	 clear: both;
	 margin: 50px auto 60px;
}

.footer ul li {
	 float: left;
	 list-style-type: none;
}

.footer ul li:first-child {
	 margin-left: 26px;
}

.footer ul li {
	 margin-left: 94px;
}

.footer ul li a	{
	 text-decoration: none;
	 line-height: 40px;
	 color: #000;
	 text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.footer ul li a:hover {
	 text-decoration: underline;
}

.footer ul li:last-child {
	 float: right;
	 line-height: 40px;
	 margin-right: 26px;
	 text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}