@font-face {
	 font-family: "OpenSans";  
	 src: url("../fonts/2211.ttf") format("truetype"); 
	 font-style: normal; 
	 font-weight: normal; 
} 

 a, .lorem, .copy {
	 font-family: "OpenSans";
	 font-size: 10pt;
}


ul {
	 padding: 0;
}

body, .main, .wrapper, .footer {
	 margin: 0 auto;
}

body {
	 background-color: #f9f9f9;
	 width: 1366px;
	 height: 100%;
}

.main {
	 width: 1060px;
	 height: 100%;
	 display: block;
	 background-color: white;
	 box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.3);
}

.wrapper {
	 width: 968px;
	 display: block;
}

.header {
	 height: 170px;
}

.logo {
	 margin-bottom: 40px;
	 height: 90px;
}

.logo img {
	 margin-top: 50px;
}

.menu {
	 height: 40px;
	 background: linear-gradient(to top, #444343, #5e5e5e);
}


.menu li {
	 float: left;
	 list-style-type: none;
	 display: block;
	 height: 40px;
}

.menu li a {
	 color: #fff;
	 text-decoration: none;
	 display: block;
	 line-height: 40px;
	 text-align: center;
	 text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	 font-size: 11pt;
}

.menu ul li:first-child a {
	 padding-left: 25px;
	 padding-right: 61px;
}

.menu ul li:hover:first-child a {
	 padding-left: 24px;
	 padding-right: 60px;
	 	 background: linear-gradient(to top, #2e2e2e, #4a4a4a);
	 border-right: 1px solid #838383;
	 border-left: 1px solid #838383;
}

.menu ul li:nth-child(2) a {
	 padding:0 24px;
}

.menu ul li:hover:nth-child(2) a {
	 padding:0 23px;
	 background: linear-gradient(to top, #2e2e2e, #4a4a4a);
	 border-right: 1px solid #838383;
	 border-left: 1px solid #838383;
}

.menu ul li:nth-child(3) a {
	 padding:0 55px;
}

.menu ul li:hover:nth-child(3) a {
	 padding:0 54px;
	 background: linear-gradient(to top, #2e2e2e, #4a4a4a);
	 border-right: 1px solid #838383;
	 border-left: 1px solid #838383;
}

.menu ul li:last-child a {
	 padding:0 31px;
}

.menu ul li:hover:last-child a {
	 padding:0 30px;
	 background: linear-gradient(to top, #2e2e2e, #4a4a4a);
	 border-right: 1px solid #838383;
	 border-left: 1px solid #838383;
}

.container {
	 width: 968px;
	 margin-top: 40px;
	 margin:40px auto 0;
	}

.left_menu {
	 width: 239px;
	 height: 239px;
	 border: 1px solid #c8c8c8;
	 float: left;
}

.left_menu ul {
	 padding: 0;
	 margin: 0;
}

.left_menu ul li {
	 list-style-type: none;
	 line-height: 39px;
	 display: block;
	 border-top: 1px solid #c8c8c8;
	 margin: 0;
}

.left_menu ul li:nth-child(1) {
	border-top: none;
}
	 
.left_menu ul li a {
	 text-decoration: none;
	 padding-left: 24px;
	 color: #807e7e; 
	 display: block;
}

.left_menu ul li a:hover {
	 background-color:	#f9f9f9;
	 padding-left: 36px;
	 transition: 0.2s;
}

.content {
	 width: 678px;
	 height: 400px;
	 border: 1px solid #c8c8c8;
	 margin-left: 288px;
	 text-align: center;
}

.content img {
	 display: block;
	margin: 45px auto;
}

.lorem {
	 width: 629px;
	 margin: 40px 25px;
	 float: right;
}

.footer {
	 width: 968px;
	 height: 40px;
	 background-color: #e1e1e1;
	 clear: both;
	 margin-bottom: 60px;
}

.footer ul li {
	 float: left;
	 list-style-type: none;
}

.footer ul li:first-child {
	 margin-left: 26px;
}

.footer ul li {
	 margin-left: 94px;
}

.footer ul li a	{
	 text-decoration: none;
	 line-height: 40px;
	 color: #000;
	 text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.footer ul li a:hover {
	 text-decoration: underline;
}


.copy {
	 float: right;
	 display: block;
	 line-height: 40px;
	 margin-right: 26px;
	 text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}